:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.12rem rgb(58, 58, 58);
  background: linear-gradient( rgb(167, 168, 170) 4%, rgb(128, 129, 134) 33%, rgb(125, 127, 131) 66%, rgb(174, 174, 175) 100%);
  height: 250px;
  min-height: 250px;
  width: 500px;
  min-width: 500px;
  padding: 0 0 4rem 0;
  overflow: hidden;
  position: absolute;
}

.color-display-container {
  margin: 0 1rem 0 0;
  padding: 0;
}

.color-display {
  display: flex;
  flex-direction: column;
  margin: 0 0 .75rem 0;
}

h1 {
  align-self: center;
  text-shadow: 2px 1.5px 2px rgb(75, 75, 75);
  color: rgb(223, 223, 223);
  padding: 0;
  font-size: 2rem;
}

.color-box {
  border: 0.75rem solid rgb(148, 148, 148);
  border-radius: 0.15rem;
  box-shadow: 0.1rem 0.1rem 0.12rem rgb(58, 58, 58);
  align-self: center;
  margin: 0;
  width: 5rem;
  height: 4rem;
}

.random-button {
  margin: 1.5rem 0 0 0;
  background-color: grey;
  color: white;
  align-self: center;
  width: 90px;
  height: 25px;
}

.hsla-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-bottom: 0.05rem solid rgb(216, 215, 215);
  border-radius: 0.45rem;
  color: white;
  text-align: right;
  background-color: black;
  width: 165px;
  height: 28px;
}

.hsla-container {
  margin: 2.25rem 0 0 1.5rem;
}

.h-container, .s-container, .l-container, .a-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.percent {
  border-bottom: 0.05rem solid rgb(216, 215, 215);
  border-radius: 0.25rem;
  color: white;
  text-align: right;
  background-color: black;
  width: 42px;
  height: 20px;
  padding: 0.25rem 0.25rem 0 0.25rem;
  margin-left: 1rem;
}

label {
  color: rgb(224, 224, 224);
  font-size: 1.5rem;
  padding-right: 1.5rem;
  text-shadow: 2px 1.5px 2px rgb(75, 75, 75);
}

div {
  padding-top: 0.5rem;
}